@import "_nullStyle.scss";

@import url('https://fonts.googleapis.com/css2?family=El+Messiri:wght@700&display=swap');

@font-face {
    font-family: 'ProximaNova';
    src: url(/fonts/ProximaNova-Light.ttf);
    font-style: normal;
    font-weight: 300;
}

@font-face {
    font-family: 'ProximaNova';
    src: url(/fonts/ProximaNova-Regular.ttf);
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: 'ProximaNova';
    src: url(/fonts/ProximaNova-Semibold.ttf);
    font-style: normal;
    font-weight: 600;
}

@font-face {
    font-family: 'ProximaNova';
    src: url(/fonts/ProximaNova-Bold.ttf);
    font-style: normal;
    font-weight: 700;
}

$text: 'ProximaNova', sans-serif;
$text-title: 'El Messiri', sans-serif;
$text-color: #fff;

body{
    background: #162831;
    color:#fff;
} 
h1{
    font-size: 42px;
}
h2{
    font-size: 24px;
}
// nav{
//     margin-bottom: 50px;
// }
.navbar{
    margin-top: 30px;
}
//бургер меню
.navbar-toggler,
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus{
    outline: none;
    box-shadow: none;
    border: 0;    
}

.navbar-toggler-icon{
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    vertical-align: middle;
    background-image: url(../img/menu.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    transition: 0.5s;
}
.navbar-toggler-icon:hover{
    background-image: url(../img/menuhover.svg);
}

.navbar-toggler-icon:active
{
    width: 1.3em;
    height: 1.3em;
}
////////
.btn-primary{
    display: none;
}
.nav-item{
    margin-right: 5px;
}
.navmenu{
    margin-left: 30px;
}
.margin{
    margin-top: 30px;
}
@media (min-width:1400px){
    .navmenu{
        margin-left: 204px;
    }
}
@media (min-width:1200px){
    .nav-item{
        margin-right: 30px;
    }
}
@media (min-width:992px){
    .btn{
        display: inline;
    }
    .margin{
        margin-top: 0px;
    }
}

////////////////////////////не могу поменять цвет
// .navbar-nav .nav-link.active, .navbar-nav .show>.nav-link {
//     color: white;
// }


.nav-link, 
.nav-link:focus{
    color: #fff;
    font-family: $text;
    font-size: 14px;
    font-weight: 400;
}
.nav-link:active,
.nav-link:hover
{
    color: rgba(255, 255, 255, 0.5);
}


.btn, .btn-primary{
    background-color: #018ABE;
    border: 0;
    font-family: $text;
    font-size: 13px;
    font-weight: 500;
    letter-spacing: 0.02em;
    padding: 9px 15px;
    border-radius: 3px;
}
.btn:first-child:hover, :not(.btn-check)+.btn:hover {
    background-color: #076D94;
    border: 0;
}

.header-block{
    margin-top: 50px;
}

.main-page{
    background-image: url(../img/01.png) ;
    width: 1296px;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    p{
        font-family: $text-title;
        font-size: 64px;
        font-weight: 700;
        line-height: 140%;
        text-align: center;
        margin-top: 40px;
    }
}

.flower-title{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: $text-title;
}
